body {
    font-family: 'Open Sans';
}

#pdf_header,
#pdf_container {
    padding: 5px;
}

#pdf_header {
    margin: 10px auto 0px;
    border-bottom: none;
}

table {
    width: 700px;
    padding: 5px;
}

#pdf_container {
    margin: 0px auto;
}

.rpt_title {
    background: #99CCFF;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

.sign-header {
    background: blue;
    color: #fff;
}
